<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
<style>
  .resized  {
      width: 100%;
       height: 400px;
      background-image: url('{{ site.baseurl }}/img/Cardinal.png');
        background-repeat: no-repeat;
        background-size: cover;

  }
</style>
  {% if site.google-analytics %}
    {% include google-analytics.html %}
  {% endif %}
  {% include loader.html %}
  {% include header.html %}

      {{ content }}

  {% include footer.html %}
  {% include javascripts.html %}

</body>

</html>
