<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">

{% include head.html %}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-7Y6H309XV8"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-7Y6H309XV8');
</script>

    <noscript><link rel="stylesheet" href="{{ site.baseurl }}/css/noscript.css" /></noscript>

<body class="is-preload">
<style>
      body {
        background-color: #000;
        background-image: url('{{ site.baseurl }}/img/Cardinal.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top left, center 0;
        background-attachment: fixed, fixed;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 18pt;
        line-height: 1.6em;
        font-weight: 300;
        letter-spacing: 0.4px;
        color: #3a3939;
        text-shadow: 0 0 0.5px rgba(58, 57, 57, 0.25);
        -webkit-text-stroke: 0.25px;
    }

    a, a:active, a:focus{
        outline: none; /* Works in Firefox, Chrome, IE8 and above */
    }
</style>
  {% if site.google-analytics %}
    {% include google-analytics.html %}
  {% endif %}
  {% include loader.html %}
  {% include header.html %}



<body class="is-preload">

<!-- Menu 
  <nav id="menu">
    <h2>Cardinal</h2>
    <ul>
      <li><a href="#banner" class="scrolly">Stage II</a></li>
      <li><a href="#first" class="scrolly">Science Tidbits</a></li>
      <li><a href="#data-sets" class="scrolly">Data Sets</a></li>
      <li><a href="#members" class="scrolly">Team Members</a></li>
      <li><a href="#science-goals" class="scrolly">Science Goals</a></li>
      <li><a href="#stage-i" class="scrolly">Stage I</a></li>
      <li><a href="#acknowledgements" class="scrolly">Acknowledgements</a></li>
      <li><a href="#saga-references" class="scrolly">Saga References</a></li>
    </ul>
  </nav>
-->
  <!-- Header -->
  <a name="home"></a>
  <section id="header">
    <header>
      <h1 style="color:white;">The Cardinal Simulation</h1>
      <h1></h1>
      <div class="image"><img src="{{ site.baseurl }}/img/logov1.png" style="width:128px;height:128px;top:20px;position: relative;"  onContextMenu="return false;"  -webkit-touch-callout: none; ></div>
    </header>
    <footer>
      <a href="#banner" class="button style2 scrolly-middle">See Details</a>
    </footer>
  </section>

  <!-- Banner -->
  <a name="Cardinal Simulation"></a>
  <section id="banner">
    <header>
      <h2>Cardinal Simulation</h2>
    </header>
A quarter sky of simulated galaxies out to redshift z=2.35 to a depth of m<sub>r</sub>=27. <br />
    <footer>
      <a href="https://arxiv.org/abs/xxxx">Cardinal paper on arXiv</a><br />
      <a href="/cardinalsim/Download Mocks" class="scrolly">Download Mocks</a>
    </footer>
    <footer>
      <a href="#first" class="button style2 scrolly">See Result Highlights</a>
    </footer>
  </section>

  <!-- Feature 1 
  -->
  <a name="From Dark Matter to Mocks"></a>
  <article id="first" class="container box style1 right">
    <div class="image"><img src="{{ site.baseurl }}/img/f1.png" alt="" /></div>
    <div class="inner">
      <header>
        <h2>From Dark Matter to Galaxy Mocks</h2>
      </header>
      <p>  Cardinal consists of four key steps to convert dark matter-only simulations to galaxy survey mocks. The hierarchical nature of the method makes it possible to generate on the order of a hundred galaxy survey realizations in a manageable amount of time.  </p>
      <footer><a href="https://arxiv.org/pdf/xxxx#page=x">Open in PDF &raquo;</a></footer>
    </div>
  </article>




  <!-- Feature 1 
  -->
  <a name="Improved Subhalo Abundance Matching"></a>
  <article id="first" class="container box style1 left">
    <div class="image"><img src="https://github.com/chto/cardinalsim/blob/main/img/Galaxy-halo.png?raw=true" alt="" /></div>
    <div class="inner">
      <header>
        <h2>Improved Galaxy Model</h2>
      </header>
      <p> Subhalo abundance matching (SHAM) is a technique that places galaxies on dark matter clumps (called halos) in the simulations. However, the first row of the plot shows that halos in the dark matter-only simulations do not look like halos in a universe with baryon. Therefore, we develop a new SHAM model to fix this mismatch empirically and use new data to constrain the model. </p>
      <footer><a href="https://arxiv.org/pdf/xxxx#page=x">Open in PDF &raquo;</a></footer>
    </div>
  </article>


 <!-- Feature 1 
  -->
  <a name=""></a>
  <article id="first" class="container box style1 right">
    <div class="image"><img src="{{ site.baseurl }}/img/f2.png" alt="" /></div>
    <div class="inner">
      <header>
        <h2>Better galaxy clustering</h2>
      </header>
      <p>  Cardinal also features a new color assignment model. For the first time, the color-dependent galaxy clustering in mocks of its kind is statistically consistent with the measurement.  </p>
      <footer><a href="https://arxiv.org/pdf/xxxx#page=x">Open in PDF &raquo;</a></footer>
    </div>
  </article>

  <!-- Feature 1 
  -->
  <a name="Better lensing"></a>
  <article id="first" class="container box style1 left">
    <div class="image"><img src="{{ site.baseurl }}/img/f3.png" alt="" /></div>
    <div class="inner">
      <header>
        <h2>Corrected ray tracing</h2>
      </header>
      <p>  Cardinal uses a multi-plane ray-tracing technique (Calclens) to simulate gravitational lensing. Unfortunately, while the resolution of the ray tracing is high (~0.42'), the resolution effects show up at ~ 1 Mpc at z=0.6. Cardinal features a new algorithm to correct this effect, making small-scale lensing analyses possible.  </p>
      <footer><a href="https://arxiv.org/pdf/xxxx#page=x">Open in PDF &raquo;</a></footer>
    </div>
  </article>



 <!-- Feature 1 
  -->
  <a name="Photometry matches Data"></a>
  <article id="first" class="container box style1 right">
    <div class="image"><img src="{{ site.baseurl }}/img/f4.png" alt="" /></div>
    <div class="inner">
      <header>
        <h2>Improved Photometry</h2>
      </header>
      <p> Cardinal employs a conditional abundance matching technique to match the magnitude and color distribution of photometric survey data. The specially designed algorithm also makes properties of red sequence galaxies match data exquisitely. </p>
      <footer><a href="https://arxiv.org/pdf/xxxx#page=x">Open in PDF &raquo;</a></footer>
    </div>
  </article>


 <!-- Feature 1 
  -->
  <a name="Realistic galaxy clusters"></a>
  <article id="first" class="container box style1 left">
    <div class="image"><img src="{{ site.baseurl }}/img/f5.png" alt="" /></div>
    <div class="inner">
      <header>
        <h2>Realistic galaxy clusters for the first time</h2>
      </header>
      <p> Galaxy clusters are hard to simulate. Despite many works on this topic in the group, the number of galaxy clusters in Buzzard (the previous version, gray line) is <b> half </b>what we have in the data. With improved galaxy models, we can simulate realistic galaxy clusters (red line) for the first time! </p>
      <footer><a href="https://arxiv.org/pdf/xxxx#page=x">Open in PDF &raquo;</a></footer>
    </div>
  </article>




 <!-- Feature 1 
  -->
  <a name="Photometry matches Data"></a>
  <article id="first" class="container box style3">
    <div class="inner">
      <header>
        <h2>Multi-purpose mock supports survey science</h2>
      </header>
      <p> Cardinal mock and its predecessors are designed to support large galaxy survey science, including DES, DESI, LSST, and the Roman telescope. The realistic galaxy properties enable the production of several key tracers of the cosmic large-scale structure. These include but are not limited to redMaGiC galaxies, redMaPPer clusters, and weak lensing source galaxy samples.  The main difference between Cardinal mock and other existing simulations is its low computational cost. One can generate hundreds of survey mocks to beat down cosmic variance. 
      </p>
    </div>
    <center>
    <img src="{{ site.baseurl }}/img/Conclude.png" alt=""/ width="500" height="700" style="position:relative;">
    </center>
<hr>
        <p>
Cardinal mocks are named after the Cardinal, which is the state bird of Ohio and also the name of the Stanford football team. This name reflects the regions where the mocks were originally designed. The background image is the image simulation based on the Cardinal mock using the GalSim package.  
        </p>
      <footer><a href="https://arxiv.org/pdf/xxxx#page=x">See Conclusion&raquo;</a></footer>
  </article>







  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/jquery.scrolly.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/browser.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/breakpoints.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/main.js"></script>
   <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "c1bd6adeb9a240f4a47f0b3e35745367"}'></script>
    {% include footer.html %}
  {% include javascripts.html %}

</body>

</html>
